blinker==1.9.0
certifi==2025.11.12
cftime==1.6.5
click==8.3.1
colorama==0.4.6
Flask==3.1.2
h5netcdf==1.7.3
h5py==3.15.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
netCDF4==1.7.3
numpy==2.4.0
packaging==25.0
pandas==2.3.3
python-dateutil==2.9.0.post0
pytz==2025.2
scipy==1.16.3
six==1.17.0
tzdata==2025.3
Werkzeug==3.1.4
xarray==2025.12.0
gunicorn
flask-sqlalchemy==3.1.1
psycopg2-binary>=2.9.10
flask-login==0.6.3
python-dotenv==1.0.1
flask-wtf==1.2.1
flask-limiter==3.7.0
whitenoise==6.7.0
dj-database-url==2.1.0
Flask-Migrate==4.0.5
earthengine-api